<nav>
			<div class="homebutton"><a href="/app/main"><img id="home-icon" src="/icons/home.png"> Home</a></div>
			<div class="dropdown">
				<a href="/app/main/profile">User Profile</a>
			</div>
			<div class="dropdown">
				<a href="/app/main/reserve">Reserve</a>
				<div class="dropdown-content">
					<a href="/app/main/reserve">Reserve</a>
					<a href="/app/main/reserve/edit">Edit Reservation</a>
					<a href="/app/main/reserve/see">See Reservations</a>
					<a href="/app/main/reserve/viewslots">View Available Slots</a>
				</div>
			</div>
			<div class="dropdown">
				<a href="/app/main/search/searchusers">Search</a>
				<div class="dropdown-content">
					<a href="/app/main/search/searchusers">Search Users</a>
					<a href="/app/main/search/searchslots">Search Slots</a>
				</div>
			</div>
			<div><a href="/app/main/userlogout">Logout</a></div>
		</nav>