<nav>
			<div class="homebutton"><a href="/app/main"><img id="home-icon" src="/icons/home.png"> Home</a></div>
			<div class="dropdown">
				<a href="/app/main/profile">User Profile</a>
				<div class="dropdown-content">
					<a href="/app/main/profile">View Profile</a>
					<a href="/app/main/profile/editprofile">Edit Profile</a>
					<a href="/app/main/profile/deleteprofile">Delete Profile</a>
				</div>
			</div>
			<div class="dropdown">
				<a href="/reserve">Reserve</a>
				<div class="dropdown-content">
					<a href="/reserve">Reserve</a>
					<a href="/reserveedit">Edit Reservation</a>
					<a href="/reservesee">See Reservations</a>
					<a href="/reserveviewslots">View Available Slots</a>
				</div>
			</div>
			<div class="dropdown">
				<a href="#">Search</a>
				<div class="dropdown-content">
					<a href="/searchusers">Search Users</a>
					<a href="/searchslots">Search Slots</a>
				</div>
			</div>
			<div><a href="/userlogout">Logout</a></div>
		</nav>