<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<meta charset="utf-8" />
        <title>Fazbear Entertainment Labs</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="icon" type="image/x-icon" href="/favicon/freddyfazbear.png">
    </head>

    <body>
        {{{ body}}}
    </body>
</html>