<div class="container" id="indexcont">
    <h1>About Fazbear Labs</h1>
    <p>This project is a Five Nights at Freddy's themed laboratory reservation web application. Users may create accounts to reserve seats from three different laboratories: Freddy's Frightful Manor, Chica's Chilling Chamber, and Puppet's Perilous Palace.<br><br> The following NPM modules and third-party libraries are used:<br>
    Bcryptjs<br>
    Body-parser<br>
    Handlebars<br>
    Express<br>
    Express-fileupload<br>
    Express-session<br>
    Moment Timezone<br>
    Mongoose<br>
    Path<br></p>
</div>
<a href="/" class="normal-link">Back</a>