{{>nav}}
        <div class="container">
			<h1>Fazbear Labs</h1>
			<p>What would you like to do?</p>
			<a href="/app/main/profile" class="normal-link">View Your Profile</a><br><br>
			<a href="/app/main/reserve" class="normal-link">Reserve a Lab Slot</a><br><br>
			<a href="/app/main/userlogout" class="normal-link">Logout</a>
		</div>