<div class="container" id="indexcont">
		<h1>Fazbear Entertainment Labs</h1>
		<p>Your one-stop management system to reserve any Fazbear Lab.</p>
		<br>
		<a href="/userregister" class="normal-link">Register</a>
		<a href="/userlogin" class="normal-link">Login</a>
		<br><br>
	</div>
	<footer>
		<p>CCAPDEV S15/S16 - Clemente, Rodriguez, Tano, Villaflores</p>
		<a href="/details" class="details-link">Click here to view hardcoded login details (available until MCO phase 2 only).</a>
	</footer>