<!DOCTYPE html>
<html>
<head>
    <title>Lab Reservation System - Reserve</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="favicon/freddyfazbear.png">
    <style>
        .subcontainer-red {
            background-color: #e54c44;
            text-align: center;
            border-radius: 10px;
            margin-top: 20px;
            padding: 20px;
            border-radius: 8px;
            display: flex;
            align-items: center; /* Center vertically */
        }

        #selectLab{
            background-color:#fffcef;
            width: 180px;
            height: 200px;
            border-radius: 10px;
            padding: 20px;
            border-radius: 8px;
            display: inline-block;
        }

        #leftArrow {
            width: 0;
            height: 0;
            align-self: center;
            margin-right: 5px;
            margin-left: -10px;
            border-top: 15px solid transparent; 
            border-bottom: 15px solid transparent; 
            border-right: 30px solid #f1cf54;
            display: inline-block;
        }

        #rightArrow {
            width: 0;
            height: 0;
            align-self: center;
            margin-left: 5px;
            border-top: 15px solid transparent; 
            border-bottom: 15px solid transparent; 
            border-left: 30px solid #f1cf54;
            display: inline-block;
        }

        #rInfo {
            margin-left: 20px;
            text-align: left; /* Align text to the left */
        }

        .seats{
            width: 34px;
            height: 34px;
            display: inline-block;
            margin: 3px;
        }
        #labTitle{
            font-size: 10px;
            margin-top: -15px;
        }
        #reserve{
            background-color: #f1cf54;
            width: 100px;
            height: 30px;
        }

    </style>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="js/User.js"></script>
    <script src="js/CurrentUser.js"></script>
    <script src="js/Reserve.js"></script>
</head>
<body>
    <nav>
        <div class="homebutton"><a href="/dashboard"><img id="home-icon" src="icons/home.png"> Home</a></div>
        <div class="dropdown">
            <a href="/viewprofile">User Profiles</a>
            <div class="dropdown-content">
                <a href="/viewprofile">View Profile</a>
                <a href="/editprofile">Edit Profile</a>
                <a href="/userdelete">Delete Profile</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/reserve">Reserve</a>
            <div class="dropdown-content">
                <a href="/reserve">Reserve</a>
                <a href="reserveedit.html">Edit Reservation</a>
                <a href="/reservesee">See Reservations</a>
                <a href="/reserveviewslots">View Available Slots</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">Search</a>
            <div class="dropdown-content">
                <a href="/searchusers">Search Users</a>
                <a href="/searchslots">Search Slots</a>
            </div>
        </div>
        <div><a href="/userlogout">Logout</a></div>
    </nav>
    <div class="container">
        <h1>Make Reservation</h1>
        <div class="subcontainer-red">
            <!--Add div for the lab selection menu-->
            <div id="leftArrow"></div>
            <div id="selectLab">
                <div id="labTitle"><h1></h1></div>
                <div class="seats" id="seat1">S1</div>
                <div class="seats" id="seat2">S2</div>
                <div class="seats" id="seat3">S3</div>
                <div class="seats" id="seat4">S4</div>
                <div class="seats" id="seat5">S5</div>
                <div class="seats" id="seat6">S6</div>
                <div class="seats" id="seat7">S7</div>
                <div class="seats" id="seat8">S8</div>
                <div class="seats" id="seat9">S9</div>
                <div class="seats" id="seat10">S10</div>
            </div>
            <div id="rightArrow"></div>
            <div id="rInfo">
                <div id="infoLabTitle"></div>
                <div id="infoSeatNum">Seat: </div>
                <div id="date">Date: <input type="date" id="reservationDate" required></div>
                <select id="time_slot" name="time_slot">
                    <option value="choose-slot">Choose Time</option>
                    <option value="slot1">Slot 1 (9:00 - 9:30)</option>
                    <option value="slot2">Slot 2 (9:30 - 10:00)</option>
                    <option value="slot3">Slot 3 (10:00 - 10:30)</option>
                    <option value="slot4">Slot 4 (10:30 - 11:00)</option>
                    <option value="slot5">Slot 5 (11:00 - 11:30)</option>
                    <option value="slot6">Slot 6 (11:30 - 12:00)</option>
                    <option value="slot7">Slot 7 (12:00 - 12:30)</option>
                    <option value="slot8">Slot 8 (12:30 - 1:00)</option>
                    <option value="slot9">Slot 9 (1:00 - 1:30)</option>
                    <option value="slot10">Slot 10 (1:30 - 2:00)</option>
                    <option value="slot11">Slot 11 (2:00 - 2:30)</option>
                    <option value="slot12">Slot 12 (2:30 - 3:00)</option>
                    <option value="slot13">Slot 13 (3:00 - 3:30)</option>
                    <option value="slot14">Slot 14 (3:30 - 4:00)</option>
				</select>
                <div id="name">Name: {{currentUser.username}}</div>
                <div id="inputName">
                    <span id="userHolder" style="display: none;">{{currentUser.role}}</span>
                    <div id="studentNameText" style="display: none;">Student Name:</div>
                    <input type="text" id="roleInput" style="display: none;">
                </div>
                <a href="dashboard"><button id="reserve">Reserve</button></a>
            </div>
        </div>
    </div>
</body>
</html>
