<!DOCTYPE html>
<html>
<head>
    <title>Edit Reservation</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon/freddyfazbear.png">
    <style>
        .subcontainer-red {
            background-color: #e54c44;
            margin-left: 20px;
            padding: 20px;
            text-align: left;
            border-radius: 10px;
        }
        #reserve{
            background-color: #f1cf54;
            width: 100px;
            height: 30px;
        }
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .form-group label {
            margin-right: 10px;
        }
        .form-group select, .form-group input[type="date"] {
            margin-left: 10px;
        }
        #reserve-button {
            background-color: #f1cf54;
        }
    </style>
</head>
<body>
    {{>nav}}
    <div class="container">
        <h1>Edit Reservation</h1>
        {{!-- <form action="reserve" id="reserve_form" method="post"> --}}
            <div class="subcontainer-red">
                {{#if (compareStrings currentUser.role 'T')}}
                    <div class="form-group">
                        <label for="reservename">Name:</label>
                        <input type="text" id="reservename" class="form-input" name="reservename" value="">
                    </div>
                {{else}}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <div id="name" Name="reservename"><p>{{currentUser.username}}</p></div>
                    </div>
                {{/if}}
                <div class="form-group">
                    <label for="laboratory">Select Laboratory:</label>
                    <select name="laboratory" id="laboratory" required>
                        <option value="choose-lab">Choose Lab</option>
                        <option value="lab1">Freddy's Frightful Manor</option>
                        <option value="lab2">Chica's Chilling Chamber</option>
                        <option value="lab3">Puppet's Perilous Palace</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="seat">Select Seat:</label>
                    <select name="seat" id="seat" required>
                        <option value="choose-seat">Choose Seat</option>
                        <option value="seat1">Seat 1</option>
                        <option value="seat2">Seat 2</option>
                        <option value="seat3">Seat 3</option>
                        <option value="seat4">Seat 4</option>
                        <option value="seat5">Seat 5</option>
                        <option value="seat6">Seat 6</option>
                        <option value="seat7">Seat 7</option>
                        <option value="seat8">Seat 8</option>
                        <option value="seat9">Seat 9</option>
                        <option value="seat10">Seat 10</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="slot">Select Slot Number:</label>
                    <select name="slot" id="slot" required>
                        <option value="choose-seat">Choose slot</option>
                        <option value="slot1">Slot 1 (9:00 - 9:30)</option>
                        <option value="slot2">Slot 2 (9:30 - 10:00)</option>
                        <option value="slot3">Slot 3 (10:00 - 10:30)</option>
                        <option value="slot4">Slot 4 (10:30 - 11:00)</option>
                        <option value="slot5">Slot 5 (11:00 - 11:30)</option>
                        <option value="slot6">Slot 6 (11:30 - 12:00)</option>
                        <option value="slot7">Slot 7 (12:00 - 12:30)</option>
                        <option value="slot8">Slot 8 (12:30 - 1:00)</option>
                        <option value="slot9">Slot 9 (1:00 - 1:30)</option>
                        <option value="slot10">Slot 10 (1:30 - 2:00)</option>
                        <option value="slot11">Slot 11 (2:00 - 2:30)</option>
                        <option value="slot12">Slot 12 (2:30 - 3:00)</option>
                        <option value="slot13">Slot 13 (3:00 - 3:30)</option>
                        <option value="slot14">Slot 14 (3:30 - 4:00)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Select Date:</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <button id="reserve-button">Reserve</button>
                {{!-- <a href="/app/main"><input type="submit" class="submit-button" id="reserve-button" value="Reserve"/></a> --}}
            </div>
        {{!-- </form> --}}
    </div>
    <script src="/js/Reserve.js"></script>
    <div id="role" style="display: none;">{{currentUser.role}}</div>
</body>
</html>