<!DOCTYPE html>

<head>
    <title>View Slot Availability - Fazbear Entertainment Labs</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="favicon/freddyfazbear.png">
    <script src="js/RegisterView.js"></script>
    <script src="js/ViewSlots.js"></script>
</head>

<body>
    <nav>
			<div class="homebutton"><a href="/dashboard"><img id="home-icon" src="icons/home.png"> Home</a></div>
			<div class="dropdown">
				<a href="/viewprofile">User Profile</a>
				<div class="dropdown-content">
					<a href="/viewprofile">View Profile</a>
					<a href="/editprofile">Edit Profile</a>
					<a href="/userdelete">Delete Profile</a>
				</div>
			</div>
			<div class="dropdown">
				<a href="/reserve">Reserve</a>
				<div class="dropdown-content">
					<a href="/reserve">Reserve</a>
					<a href="reserveedit.html">Edit Reservation</a>
					<a href="/reservesee">See Reservations</a>
					<a href="/reserveviewslots">View Available Slots</a>
				</div>
			</div>
			<div class="dropdown">
				<a href="#">Search</a>
				<div class="dropdown-content">
					<a href="/searchusers">Search Users</a>
					<a href="/searchslots">Search Slots</a>
				</div>
			</div>
			<div><a href="/userlogout">Logout</a></div>
		</nav>

    <div class = container>
        <h1>View Slot Availability</h1>

        <h2 id="heading-lab">Freddy's Frightful Manor</h2>
        <p id="date-and-time">1/1/2024 2:30 PM - 3:00 PM</p>
        <table class="center" border="1">
            <thead>
                <tr>
                    <th>Laboratory</th>
                    <th>Seat Number</th>
                    <th>Reserved By</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>1</td>
                    <td class="reserved-by"><a href="freddyfazbear.html" class="user-link">FreddyFazbear</a></td>
                    <td class="availability">Unavailable</td>
                </tr>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>2</td>
                    <td class="reserved-by"><a href="bonniebunny.html" class="user-link">BonnieBunny</a></td>
                    <td class="availability">Unavailable</td>
                </tr>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>3</td>
                    <td class="reserved-by"><p>Anonymous</p></td>
                    <td class="availability">Unavailable</td>
                </tr>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>4</td>
                    <td class="reserved-by"></td>
                    <td class="availability">Available</td>
                </tr>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>5</td>
                    <td class="reserved-by"></td>
                    <td class="availability">Available</td>
                </tr>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>6</td>
                    <td class="reserved-by"></td>
                    <td class="availability">Available</td>
                </tr>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>7</td>
                    <td class="reserved-by"></td>
                    <td class="availability">Available</td>
                </tr>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>8</td>
                    <td class="reserved-by"></td>
                    <td class="availability">Available</td>
                </tr>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>9</td>
                    <td class="reserved-by"></td>
                    <td class="availability">Available</td>
                </tr>
                <tr>
                    <td>Freddy's Frightful Manor</td>
                    <td>10</td>
                    <td class="reserved-by"></td>
                    <td class="availability">Available</td>
                </tr>
                
            </tbody>
        </table><br>

        <form onsubmit="return validate(event)" method="post">
            <a>Choose Computer Lab:</a>
            <select id="lab" name="lab">
                <option value="lab1">Freddy's Frightful Manor</option>
                <option value="lab2">Chica's Chilling Chamber</option>
                <option value="lab3">Puppet's Perilous Palace</option>
            </select>
            <br>

            <a>Select Date:</a>
            <input type="date" id="date" name="date" value="" class="form-input">
            <br>

            <a>Select Time Slot:</a>
            <select id="time_slot" name="time_slot">
                <option value="choose-slot">Choose Slot</option>
                <option value="9:00 PM - 9:30 PM">Slot 1 (9:00 - 9:30)</option>
                <option value="9:30 PM - 10:00 PM">Slot 2 (9:30 - 10:00)</option>
                <option value="10:00 PM - 10:30 PM">Slot 3 (10:00 - 10:30)</option>
                <option value="10:30 PM - 11:00 PM">Slot 4 (10:30 - 11:00)</option>
                <option value="11:00 PM - 11:30 PM">Slot 5 (11:00 - 11:30)</option>
                <option value="11:30 PM - 12:00 PM">Slot 6 (11:30 - 12:00)</option>
                <option value="12:00 PM - 12:30 PM">Slot 7 (12:00 - 12:30)</option>
                <option value="12:30 PM - 1:00 PM">Slot 8 (12:30 - 1:00)</option>
                <option value="1:00 PM - 1:30 PM">Slot 9 (1:00 - 1:30)</option>
                <option value="1:30 PM - 2:00 PM">Slot 10 (1:30 - 2:00)</option>
                <option value="2:00 PM - 2:30 PM">Slot 11 (2:00 - 2:30)</option>
                <option value="2:30 PM - 3:00 PM">Slot 12 (2:30 - 3:00)</option>
                <option value="3:00 PM - 3:30 PM">Slot 13 (3:00 - 3:30)</option>
                <option value="3:30 PM - 4:00 PM">Slot 14 (3:30 - 4:00)</option>
            </select>
            <br><br>

            <input class="submit-button" type="submit" value="Check Availability">
        </form>
    </div>
</body>
</html>
