{{>nav}}
<div class="container">
			<h1>Search for Users</h1><br>
			<div>
				<form action="/app/main/search/users" method="get">
					<input type="text" class="form-input" placeholder="Username" id="username" name="username">
					<button class="search-button" id="submitButton">Search for Users</button>
				</form>
		</div>
        <script src = "/js/CurrentUser.js"></script>