{{>nav}}
        <div class="container">
			<h1>Search for Slots</h1><br>
			<div>
				<form action="/app/main/search/slots" method="get">
					<input type="date" class="form-input" id="selected_date" name="selected_date">
					<select id="time_slot" name="time_slot">
						<option value="choose-slot">Choose Time</option>
						<option value="slot1">Slot 1 (9:00 - 9:30)</option>
						<option value="slot2">Slot 2 (9:30 - 10:00)</option>
						<option value="slot3">Slot 3 (10:00 - 10:30)</option>
						<option value="slot4">Slot 4 (10:30 - 11:00)</option>
						<option value="slot5">Slot 5 (11:00 - 11:30)</option>
						<option value="slot6">Slot 6 (11:30 - 12:00)</option>
						<option value="slot7">Slot 7 (12:00 - 12:30)</option>
						<option value="slot8">Slot 8 (12:30 - 1:00)</option>
						<option value="slot9">Slot 9 (1:00 - 1:30)</option>
						<option value="slot10">Slot 10 (1:30 - 2:00)</option>
						<option value="slot11">Slot 11 (2:00 - 2:30)</option>
						<option value="slot12">Slot 12 (2:30 - 3:00)</option>
						<option value="slot13">Slot 13 (3:00 - 3:30)</option>
						<option value="slot14">Slot 14 (3:30 - 4:00)</option>
					</select>
					<select id="selected_lab" name="lab">
						<option value="choose-lab">Choose Lab</option>
						<option value="lab1">Freddy's Frightful Manor</option>
						<option value="lab2">Chica's Chilling Chamber</option>
						<option value="lab3">Puppet's Perilous Palace</option>
					</select><br><br>
					<button class="search-button">Search for Slots</button>
				</form>
				{{#if searchResults.length includeZero=true}}
				<p id="search-results">
					<br><b>{{newlab}} {{newdatetime}}</b><br>
					{{#if searchResults.length}}
					{{#each searchResults}}
					{{this.seat}}<br>
					{{/each}}
					{{else}}
					All seats are available!
					{{/if}}
				</p>
				{{/if}}
		</div>