<form id="register_form" action="register" method="post" enctype="multipart/form-data">
    <div class="container">
        <h1>Register User</h1>

        <span>*Email address:<br/></span>
        <input type="email" class="form-input" id="email" name="email" value="{{email}}"/>
        <br><br>
        <span class="error" id="email_error"></span> <!-- email error -->
        <br><br>

        <span>*Username:<br/></span>
        <input type="text" class="form-input" id="username" name="username" value="{{username}}"/>
        <br><br>
        <span class="error" id="username_error"></span> <!-- username error -->
        <br><br>

        <span>*Password:<br/></span>
        <input type="password" class="form-input" id="password" name="password"/>
        <br><br>
        <span class="error" id="password_error"></span> <!-- password error -->
        <br><br>


        <span>*Confirm Password:<br/></span>
        <input type="password" class="form-input" id="confirmPassword" name="confirmPassword"/>
        <br><br>
        <span class="error" id="confirmPassword_error"></span> <!-- confirmPassword error -->
        <br><br>

        <span>Description:<br/></span>
        <textarea rows="4" cols="50" class="form-input" id="description" name="description">{{description}}</textarea>
        <br><br>

        <span>*Birthdate:<br/></span>
        <input type="date" class="form-input" id="birthdate" name="birthdate" value="{{birthdate}}"/>
        <br><br>
        <span class="error" id="birthdate_error"></span> <!-- birthdate error -->
        <br><br>

        <span>*Profile Picture:<br/></span>
        <div class="first">
            <p><input type="file" name="image" id="pfp" class="form-input"/></p>
            <p><img id="preview_image" width="200"/></p> <!-- Preview image -->
        </div>
        <br><br>
        <!-- Hidden input fields for role -->
        <input type="hidden" id="role" name="role" value=""/>
        <input type="submit" class="submit-button" id="submitT" value="Register as Lab Technician" onclick="setRole('T')"/>
        <input type="submit" class="submit-button" id="submitV" value="Register as Student" onclick="setRole('V')"/>
    </div>
</form>
<a href="/" class="normal-link">Back</a>
<br><br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/Register.js"></script>

<script>
    function setRole(role) {
        document.getElementById('role').value = role;
    }
</script>
