<div class="container">
            <form id="loginForm">
                <div>
                    <h1>Login</h1><br>
                    <span> Email address:<br/> </span>
                    <input type="email" class="form-input" id="email"/>
                    <br> </br>  
                    
                    <span> Password:<br/> </span>
                    <input type="password" class="form-input" id="password"/>
                    <br> </br>
    
                    <input type="checkbox" class="check-box" id="keepLoggedIn"> 
                    <span> Keep me logged in</span>
                    <br> </br>
                    <div id="error" style="color: red;"></div> <!-- Error message display -->
                </div>
                <input type="submit" class="submit-button" id="submitButton" value="Login">
            </form>
        </div>
        <a href="/" class="normal-link">Back</a>
        <br><br>
        <script src = "js/Login.js"></script>
        <script src = "js/CurrentUser.js"></script>