@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&display=swap');

body {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    background-color: #fffcef;
    text-align: center;
    line-height: 1.6;
}

h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.2;
}

.center{
    position: static;
    margin: auto;
}

.container {
    width: 500px;
    margin: 20px auto;
    background-color: #f1cf54;
    padding: 20px;
    border-radius: 8px;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    background-color: #fffcef;
    border-radius: 8px;
}

.table-container{
    display: flex;
    justify-content: center;
    position: absolute;
}
#indexcont {
    margin-top: 100px;
}

.normal-link {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #e54c44;
    color: #fffcef;
    font-size: 12px;
    margin: 10px;
    border: 1px solid #e54c44;
    border-radius: 5px;
    appearance: none;
    font-family: "Press Start 2P", system-ui;
}

.submit-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #e54c44;
    color: #fffcef;
    font-size: 12px;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
}

.search-button {
    padding: 8px 17px;
    border-radius: 8px;
    border: none;
    background-color: #e54c44;
    color: #fffcef;
    font-size: 12px;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
}

.form-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #fffcef;
    appearance: none;
    resize: none;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #fffcef;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e54c44;
    overflow: hidden;
    height: 50px;
    width: 550px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav a, nav span {
    color: #fffcef;
    padding: 15px;
    text-decoration: none;
    font-size: 10px;
    position: relative;
    top: 25%;
    font-family: "Press Start 2P", system-ui;
}

#home-icon {
    width: 20px;
}

th{
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size: 15px;
    text-align: center;
}

.details-link, .user-link {
    color: #e54c44;
    text-decoration: none;
    font-weight: 700;
}

nav div {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1cf54;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.homebutton {
    position: relative;
    bottom: 3px;
}

#profile-picture-container {
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    background-color:bisque;
    border-radius: 50%;
    overflow: hidden;

}

#profile-picture{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.small-picture-container {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background-color:bisque;
    border-radius: 50%;
    overflow: hidden;
}

.small-picture{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reservation-none{
    text-align: center;
    margin-top: 20px;
}

#selectLab{
    background-color:#fffcef;
    width: 180px;
    height: 130px;
    border-radius: 10px;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
}

.seats{
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 3px;
    background-color: #49d182;
}

.takenseat{
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 3px;
    background-color: #d14949;
}

#available{
    color: #49d182;
    margin-right: 20px;
}

#unavailable{
    color: #d14949;
}

.button-class {
    background-color: #fffcef;
    width: 440px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    border: none;
    overflow: hidden; /* Clear floats */
    position: relative; /* Add position relative */
}

.content {
    display: flex;
    flex-direction: column;
}

.content p {
    margin: 0;
}

.float-left {
    text-align: left; /* Align text to the left */
}

div .float-left {
    float: left;
    margin-right: 15px;
}

.float-right1 {
    position: absolute; /* Change position to absolute */
    right: 20px; /* Adjust right positioning */
    text-align: right; /* Align text to the right */
}

.taken-details {
    display: none;
    position: absolute;
    background-color: #fffcef;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.takenseat:hover .taken-details {display: block;}

.profile-left {
    background-color: #f1cf54;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    width: 15%;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.profile-right {
    background-color: #f1cf54;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    width: 35%;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    min-height: 500px;
}

#profiletableheader {
    background-color: #e54c44;
}

#reservationTable tr:nth-child(even){background-color: #f2f2f2;}
#reservationTableBody tr:nth-child(odd){background-color: white;}

#reservationTable {
    border-collapse: collapse;
}

#reservationTable td, #reservationTable th {
    border: 1px solid #ddd;
    padding: 8px;
}